<p>
  testcomponent works!
</p>


<!-----------template driven form --------------->
<!------

<form (ngSubmit)="onSubmit()" #form="ngForm">

  <div ngModelGroup="userdata">
    <input
    type="input"
    name="username"
    placeholder="username"
    ngModel
    #name="ngModel"
    [(ngModel)]="defaultname"
    />
    <input
    type="email"
    name="email"
    placeholder="email"
    ngModel
    #email="ngModel"
    required
    email
    [(ngModel)]="emailtest"
    />
    <p> Your email test : {{emailtest}}</p>
    <p *ngIf="email.invalid && email.touched">enter valid Email</p>

    <div class="radio" *ngFor="let gender of genders">
      <label>  <input type="radio" ngModel [value]="gender" name="gender"> {{gender}}</label>
    </div>
  </div>
    <button type="submit" [disabled]="!form.valid">submit</button>
</form>
<button (click)='setValue()'>Set Value</button>
<button (click)='patchValue()'>Patch Value</button>
<button (click)='resetForm()'>Rest Form</button>
<hr>

<div *ngIf="sumitted">
  <h3>Your Date</h3>
<div>
  <label>Username : {{userinfo.username}}</label> <br/>
  <label>Email : {{userinfo.email}}</label><br/>
  <label>Gender : {{userinfo.gender}}</label>
</div>
</div>
-->
<!-----------template driven form --------------->

<!-------reactive froms------------>

<form [formGroup]="reactiveForm" (ngSubmit)="submit()" >
  <div>
    <div formGroupName="ruserdata">
    <input
    type="input"
    placeholder="rusername"
    formControlName="rusername"
    />

    <span *ngIf="reactiveForm.get('ruserdata.rusername').invalid && reactiveForm.get('ruserdata.rusername').touched">Enter username</span>
    <input
    type="email"
    placeholder="remail"
    formControlName="remail"
    />
    <span *ngIf="reactiveForm.get('ruserdata.remail').invalid && reactiveForm.get('ruserdata.remail').touched">Enter valid email id</span>
  </div>
  <div formArrayName="hobbies">
    <h4>Your Hobbies</h4>
    <div *ngFor="let hobby of reactiveForm.get('hobbies').controls ; let i = index">
      <input type="text" [formControlName]="i"/>
    </div>
    <button type="button" (click)="addHobbies()">Add Hobbies</button>
  </div>
  <div class="radio" *ngFor="let rgender of genders">
    <label><input type="radio"  [value]="rgender" formControlName="rgender"> {{rgender}}</label>
  </div>
</div>
<span *ngIf="reactiveForm.invalid && reactiveForm.touched">Please enter valid data</span>


    <button type="submit">submit</button>
</form>


<!-------reactive froms------------>
