<!-- The content below is only a placeholder and can be replaced. -->
<app-home></app-home>
<app-employee-list></app-employee-list>  <!-- component call-->
<app-employee-details></app-employee-details> <!--  component call -->
<!-- <p>{{message}}</p> -->

 <app-input-output (childEvent) ="message=$event" [parentData] ='sername'></app-input-output> 

<app-new-employee-list></app-new-employee-list> <!-- new module component-->

<app-test></app-test> <!-- new test module component -->

<router-outlet></router-outlet>
