<!--The content below is only a placeholder and can be replaced.-->

<ul>
  <li>
    <h2><a routerLink="property-binding">Property Binding</a></h2>
  </li>
  <li>
    <h2><a routerLink="class-binding">Class Binding</a></h2>
  </li>
  <li>
    <h2><a routerLink="style-binding">style Binding</a></h2>
  </li>
  <li>
    <h2><a routerLink="event-binding">event Binding</a></h2>
  </li>
  <li>
    <h2><a routerLink="access-the-dom-element">Template reference variable</a></h2>
  </li>
  <li>
    <h2><a routerLink="two-way-data-binding">Two way data binding</a></h2>
  </li>
  <li>
    <h2><a routerLink="ngIF">ngIF</a></h2>
  </li>
  <li>
    <h2><a routerLink="ngFor">ngFor</a></h2>
  </li>
  <li>
    <h2><a routerLink="ngSwitch">ngSwitch</a></h2>
  </li>
  <li>
    <h2><a routerLink="input-output">@input, @output</a></h2>
  </li>
  <li>
    <h2><a routerLink="pipes">Pipes</a></h2>
  </li>
  <li>
    <h2><a routerLink="http">https</a></h2>
  </li>
</ul>

<app-employee-list></app-employee-list> <!-- component call-->
<app-employee-details></app-employee-details><!-- component call-->
<!-- <p>{{message}}</p> -->

<app-input-output (childEvent) ="message=$event" [parentData] ='sername'></app-input-output>

<router-outlet></router-outlet>
