<!----------- old angular code ----------------------->

  <!-- <li>
    <h2><a routerLink="property-binding">Property Binding</a></h2>
  </li>
  <li>
    <h2><a routerLink="class-binding">Class Binding</a></h2>
  </li>
   <li>
    <h2><a routerLink="style-binding">style Binding</a></h2>
  </li>
  <li>
    <h2><a routerLink="event-binding">event Binding</a></h2>
  </li> -->
  <!-- <li>
    <h2><a routerLink="access-the-dom-element">Template reference variable</a></h2>
  </li>
  <li>
    <h2><a routerLink="two-way-data-binding">Two way data binding</a></h2>
  </li>
  <li>
    <h2><a routerLink="ngIF">ngIF</a></h2>
  </li>
  <li>
    <h2><a routerLink="ngFor">ngFor</a></h2>
  </li> -->
  <!-- <li>
    <h2><a routerLink="ngSwitch">ngSwitch</a></h2>
  </li>
  <li>
    <h2><a routerLink="input-output">@input, @output</a></h2>
  </li>
  <li>
    <h2><a routerLink="pipes">Pipes</a></h2>
  </li>
  <li>
    <h2><a routerLink="http">https</a></h2>
  </li>
  <li>
    <h2><a routerLink="input-masking">input-masking</a></h2>
  </li>
  <li>
    <h2><a routerLink="mat-slide-toggle">mat-slide-toggle</a></h2>
  </li> -->
  <!-- <li>
    <h2><a routerLink="department-list">department-list</a></h2>
  </li> -->

<!-- <app-employee-list></app-employee-list>
<app-employee-details></app-employee-details> -->
<!-- <app-new-employee-list></app-new-employee-list> -->
<!-- <app-department-list></app-department-list> -->
<!-- <app-test></app-test>
<app-testcomponent></app-testcomponent> -->
<!-- <app-ngclass></app-ngclass> -->
<!-- <app-hello-world></app-hello-world> -->
<!-- <app-close-tab></app-close-tab> -->
<!-- <app-router-snapshot></app-router-snapshot> -->
<!-- <app-date-custom-pipe></app-date-custom-pipe> -->
<!-- <app-ng-grid></app-ng-grid> -->

<!----------- old angular code ----------------------->

<!----------- new angular code ----------------------->
<!--
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <app-recipes></app-recipes>
        <app-shopping-list></app-shopping-list>
      </div>
    </div>
  </div> -->
<!----------- new angular code ----------------------->

<!-------------------service practise-------------->
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-new-account></app-new-account>
      <hr>
      <app-account
        *ngFor="let acc of accountArray; let i = index"
        [account]="acc"
        [id]="i"
       ></app-account>
    </div>
  </div>
</div> -->
<!-------------------service practise-------------->


<!----------- lazy loading ----------------------->
<!-- <lazy-app-home></lazy-app-home> -->
<!----------- lazy loading ----------------------->



<!-- @input and @output -->

<!-- <app-parent3></app-parent3> -->
<!-- <app-parent></app-parent> -->

<!-- @input and @output -->


<!--http erros-->
<!-- <app-errors></app-errors> -->
<!-- <app-department-list></app-department-list> -->
<!--http erros-->

<!-- test navbar -->
   <!-- <app-base-layout></app-base-layout> -->
<!-- test navbar -->


<!--attribute directive-->
<!-- <app-attribute-directive></app-attribute-directive> -->
<!--attribute directive-->


<!-- rxjs operators-->
<!-- <app-rxjs-operators></app-rxjs-operators> -->
<!-- rxjs operators-->


<!--file upload -->
<!-- <app-file-upload></app-file-upload> -->
<!--file upload -->


<!--Pdf viewer-->
<!-- <app-pdf></app-pdf> -->
<!--Pdf viewer-->


<!-------Auth Gaurd Service------>
<!-- <h3><a href="setting">Auth setting</a></h3>
<h3><a href="home">Home</a></h3>
<button (click)="onLogin()">login</button>
<button (click)="onLogout()">logout</button> -->
<!-------Auth Gaurd Service------>
